/* Fonts
  font-family: 'Caveat', cursive; 
  font-family: 'Caveat Brush', cursive;
  font-family: 'Libre Baskerville', serif;

  rgb(54, 183, 41)
*/
:root {
  --primary-green: #006416;
  --secondary-green: #18890B;
  --dark-green: #022900;
}

html, body {
  background-image: url("../images/barnWood.jpg");
  background-size: cover;
  padding:0px;
  font-family: "Caveat Brush", cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Nav*/
  /* Mobile Nav*/
.nav-menu { 
  display: none;
  padding-right: 100px;
  height: 50px;
}
.cart-mobile-icon {
  margin-right: 10px;
}
.uk-navbar-toggle {
  min-height: 25px;
}
.uk-offcanvas-bar {
  padding-top:10px;
  background-color: var(--primary-green);
}
.uk-offcanvas-bar>ul>li>a {
  padding: 5px;
}
  /* Desktop Nav */
.uk-navbar-container{
  background-color: var(--primary-green) !important;
}
.uk-navbar-nav>li>a {
  font-family: 'Libre Baskerville', serif;
  /* font-family: 'Caveat Brush', cursive; */
  font-weight: 500;
  font-size: 1em;
}
.uk-navbar-dropdown {
  background-color: var(--primary-green);
  font-family: 'Libre Baskerville', cursive;
  padding: 15px;
  margin-top:10px;
}
.uk-navbar-dropdown-nav>li>a {
  padding-left:5px;
}
nav a, nav a:hover {
  color: white !important;
  text-decoration: none;
}
nav a:hover {
  /* background-color: #0F8500; */
  /* box-shadow: inset 10px 0px 20px -5px #0F8500, inset -10px 0px 20px -5px #0F8500; */
  box-shadow: inset 1.5px 0px 0px 0px white, inset -1.5px 0px 0px 0px white;
}
nav img {
  height:55px;
  width: 129px;
}


/* Category and products pages. And some defaults */
.content-container {
  width: 90%;
  margin:auto;
  margin-top:0px;
  padding:20px;
  min-height:70vh;
  /* background blur */
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(12px);
}
h1 {
  color: black;
  margin: 50px;
  text-align: center;
}
.slogan {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.6em;
  margin:0px;
  padding-bottom:30px;
}
.uk-card {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.4em;
  background-color: rgba(1,1,1,0);
  box-shadow: none;
}
.card-rows {
  width: 100%;
  padding-top: 100%;
  border-radius:7px;
  overflow: hidden;
}
.uk-card-media-top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.productDesc {
  font-family: 'Caveat Brush', cursive;
}
.uk-overlay {
  padding: 5px;
}
.uk-overlay p {
  padding: 0px;
  margin: 0px;
}


/* Product page */
.product-card-full :is(h2, h3, label)  {
  font-family: 'Caveat Brush', cursive;
  /* font-size: 1.1em; */
  margin:10px;
}
.product-card-full label {
  font-size: .85em;
}
.size-button, #size {
  background-color: var(--primary-green);
  color: white;
  border: var(--dark-green) solid 4px;
}
/* #qty-input {
  background-color: var(--primary-green);
  color: white;
} */
#qty-input>input {
  border: 3px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
  background: lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: lightsalmon;
  background-size: 25px;
}
#qty-invalid-alert {
  display: none;
  font-size: .63em;
  color: red;
  padding:5px;
  margin: 0px;
}
#add-to-cart-btn {
  background-color: var(--primary-green);
  color: white;
  border: white solid 4px;
}


/* Cart */
.cart-prod-row {
  border-bottom: 3px solid rgb(39, 39, 39);
  padding-bottom:10px;
  margin-bottom: 10px;
}
.cart-prod-row .uk-card,
.cart-prod-row h4,
.cart-prod-row {
  color: black;
  font-family: "Caveat Brush", cursive;
  
}
.checkout-btn { /* #674128 #422919 */
  background-color: #c76509;
  color: white;
  border: 2px solid white;
}
.checkout-btn:hover {
  background-color: #C97C33;
  color: white;
  border: 2px solid white;
}
.cart-remove-btn {
  /* background-color: #674128; */
  background-color: #a30101;
  color: white;
  border: 2px solid white;
}
.cart-totals .uk-card {
  padding-top: 0px;
  padding-bottom: 0px;
}
#cart-empty {
  font-family: "Caveat Brush", cursive;
}


/* Checkout */
.checkout-page * {
  font-family: 'Libre Baskerville', cursive;
}
.py-5 {
  padding: 15px !important;
}
.form-check {
  margin-top:15px;
}


/* about us */
.about {
  font-size: 1.1em;
}
.about-fb {
  width:75%;
  margin:auto;
}


/* Admin pages */
.admin-prod-container {
  width: 100%;
  margin: auto;
  font-size: 1.2em;
}
.admin-prod-table th {
  color: black;
}
.admin-prod-row {
  margin-bottom: 10px;
}
.admin-input {
  background-color:rgba(1,1,1,0);
  font-family:'Caveat', cursive;
}
.admin-input::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity:1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.admin-btns {
  background-color: var(--secondary-green);
  width:90%;
  margin: auto;
}
#addForm {
  width: 80%;
  margin: auto;
}


/* Orders pages */
.orders-table {
  background-color: rgb(201, 201, 201);
  border: white solid 2px;
}
.orders-table th  {
  color: black;
}
.order-btn {
  border: 2px solid white;
  background: transparent;
} 
.order-btn:hover {
  /* background-color: var(--primary-green); */
  box-shadow: inset 1.5px 0px 0px 0px white, inset -1.5px 0px 0px 0px white;
  color: white;
}
.view-btn:hover {
  background-color: var(--primary-green);
}
.delivered {
  Border: green solid 3px;
  color: green;
}
.paid {
  Border: blue solid 3px;
  color: blue;
}
.unpaid {
  Border: red solid 3px;
  color: rgb(253, 70, 70);
  text-decoration: underline;
}




footer {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--dark-green);
  color: white;
  padding: 15px;
  box-shadow: 0px 10px 10px -10px black inset;
  font-size: .85em;
  letter-spacing: 1px;
  margin-top: auto;
}
footer a {
  color: white;
}
.footer-contact .fab {
  padding: 0px 5px;
}
.footer a:hover {
  color: lightgrey;
}


.print { /* show up on print */
  display: none;
}
.no-print { /* show up normal */
  display: block;
}

@media print {
  .print { /* show up on print */
    display: block;
  }
  .no-print { /* don't show up on print */
    display: none;
  }
}




@media (max-width: 640px) {
  /* .admin-prod-row-checkbox{
    align-items: flex-start;
  } */

  .nav-menu {
    display: block;
  }
  .nav-bar {
    display: none;
  }

  .content-container {
    width: 100%;
  }
  .uk-overlay {
    font-size: .75em;
  }

  .slogan {
    font-size: 1.2em;
  }

  #size {
    font-size:.5em;
  }

  .cart-prod-row {
    margin-bottom:20px;
    padding-bottom:20px;
  }
  .cart-prod-row .uk-grid-margin {
    margin:2px;
  }
  .cart-totals {
    font-size: .9em;
  }


  .about-fb {
    width:100%; 
    margin:auto;
  }
}





  /* footer div {
    flex: 1 1 50px;
  }

  .footerImg {
    padding: 0px;
    padding-bottom: 10px;
  }

  .footerCopyright {
    padding: 0px;
    text-align: center;
  } */

