/* Fonts
  font-family: 'Caveat', cursive; 
  font-family: 'Caveat Brush', cursive;
  font-family: 'Libre Baskerville', serif;

  rgb(54, 183, 41)
*/
:root {
  --primary-green: #0B6400;
  --secondary-green: #18890B;
  --dark-green: #022900;
}

html, body {
  background-image: url("../images/barnWood.jpg");
  background-size: cover;
  padding:0px;
  font-family: "Caveat Brush", cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Nav*/
.nav-menu { /* Mobile */
  display: none;
  padding-right: 100px;
  height: 50px;
}
.cart-mobile-icon {
  margin-right: 10px;
}
.uk-navbar-toggle {
  min-height: 25px;
}
.uk-offcanvas-bar {
  padding-top:10px;
  background-color: var(--primary-green);
}
.uk-offcanvas-bar>ul>li>a {
  padding: 5px;
}

.uk-navbar-container{
  background-color: var(--primary-green) !important;
}
.uk-navbar-nav>li>a {
  font-family: 'Libre Baskerville', serif;
  /* font-family: 'Caveat Brush', cursive; */
  font-weight: 500;
  font-size: 1em;
}
.uk-navbar-dropdown {
  background-color: var(--primary-green);
  font-family: 'Libre Baskerville', cursive;
  padding: 15px;
  margin-top:10px;
}
.uk-navbar-dropdown-nav>li>a {
  padding-left:5px;
}

nav a, nav a:hover {
  color: white !important;
  text-decoration: none;
}
nav a:hover {
  /* background-color: #0F8500; */
  /* box-shadow: inset 10px 0px 20px -5px #0F8500, inset -10px 0px 20px -5px #0F8500; */
  box-shadow: inset 1.5px 0px 0px 0px white, inset -1.5px 0px 0px 0px white;
}
nav img {
  height:55px;
  width: 129px;
}


.content-container {
  background-color: rgba(201, 201, 201, 0.644);
  width: 90%;
  margin:auto;
  margin-top:0px;
  padding:20px;
  min-height:70vh;
}

h1 {
  color: black;
  margin: 50px;
  text-align: center;
}
.slogan {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.6em;
  margin:0px;
  padding-bottom:30px;
}

.uk-card {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.4em;
  background-color: rgba(1,1,1,0);
  box-shadow: none;
}
.card-rows {
  width: 100%;
  padding-top: 100%;
  border-radius:7px;
  overflow: hidden;
}
.uk-card-media-top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.productDesc {
  font-family: 'Caveat Brush', cursive;
}
.uk-overlay {
  padding: 5px;
}
.uk-overlay p {
  padding: 0px;
  margin: 0px;
}


.product-card-full :is(h2, h3, label)  {
  font-family: 'Caveat Brush', cursive;
  /* font-size: 1.1em; */
  margin:10px;
}
.product-card-full label {
  font-size: .85em;
}
.size-button, #size {
  background-color: var(--primary-green);
  color: white;
  border: var(--dark-green) solid 4px;
}
select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}
select:focus > option:checked { 
  background: #000 !important;
}
input {
  border: 3px solid;
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}
input:optional {
  border-color: gray;
}
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}
#qty-invalid-alert {
  display: none;
  font-size: .63em;
  color: red;
  padding:5px;
  margin: 0px;
}
#add-to-cart-btn {
  background-color: var(--primary-green);
  color: white;
  border: var(--dark-green) solid 4px;
}


.admin-prod-container {
  width: 100%;
  margin: auto;
  font-size: 1.6rem;
}
.admin-prod-row {
  margin-bottom: 10px;
}
.admin-input {
  background-color:rgba(1,1,1,0);
  font-family:'Caveat', cursive;
}
.admin-input::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:black;
  opacity:1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.admin-btns {
  background-color: var(--secondary-green);
  width:90%;
  margin: auto;
}









footer {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--dark-green);
  color: white;
  padding: 15px;
  box-shadow: 0px 10px 10px -10px black inset;
  font-size: .85em;
  letter-spacing: 1px;
  margin-top: auto;
}
footer a {
  color: white;
}
.footer-contact .fab {
  padding: 0px 5px;
}
.footer a:hover {
  color: lightgrey;
}


.print { /* show up on print */
  display: none;
}
.no-print { /* show up normal */
  display: block;
}

@media print {
  .print { /* show up on print */
    display: block;
  }
  .no-print { /* don't show up on print */
    display: none;
  }
}




@media (max-width: 640px) {
  /* .admin-prod-row-checkbox{
    align-items: flex-start;
  } */

  .nav-menu {
    display: block;
  }
  .nav-bar {
    display: none;
  }

  .content-container {
    width: 100%;
  }
  .uk-overlay {
    font-size: .75em;
  }

  .slogan {
    font-size: 1.2em;
  }

  #size {
    font-size:.5em;
  }
}





  /* footer div {
    flex: 1 1 50px;
  }

  .footerImg {
    padding: 0px;
    padding-bottom: 10px;
  }

  .footerCopyright {
    padding: 0px;
    text-align: center;
  } */

